<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <UseLightSwitchWebDeploymentProvider>False</UseLightSwitchWebDeploymentProvider>
    <AuthenticationType>None</AuthenticationType>
    <RequiresIntrinsicDataSource>false</RequiresIntrinsicDataSource>
    <DeployDatabase>True</DeployDatabase>
    <LightSwitchPublishVersion>v1.8</LightSwitchPublishVersion>
    <PackageLocation>G:/MeerkatPublish/Admin//MeerkatAdmin_2_1.zip</PackageLocation>
    <CleanWPPAllFilesInSingleFolder>False</CleanWPPAllFilesInSingleFolder>
    <ExcludeGeneratedDebugSymbol>true</ExcludeGeneratedDebugSymbol>
    <DisableAllVSGeneratedMSDeployParameter>True</DisableAllVSGeneratedMSDeployParameter>
    <AutoParameterizationWebConfigConnectionStrings>True</AutoParameterizationWebConfigConnectionStrings>
    <WPPAllFilesInSingleFolder>../Bin/Debug/app.publish/</WPPAllFilesInSingleFolder>
    <PackageSourceManifest>../Bin/Debug/MeerkatAdmin_2_1.xml</PackageSourceManifest>
    <ProjectParametersXMLFile>..//MeerkatAdmin_2.Server/generated.parameters.xml</ProjectParametersXMLFile>
    <LightSwitchSqlScriptFile>../Bin/Debug/MeerkatAdmin_2_1.sql</LightSwitchSqlScriptFile>
  </PropertyGroup>
  <Target Name="BeforeBuild">
    <MSBuild Projects="../MeerkatAdmin_2_1.ls3proj" Targets="BeforeLightSwitchPublishApplication" />
  </Target>
</Project>