USE [master]
GO
/****** Object:  Database [MeerKat]    Script Date: 2013-03-06 08:42:07 AM ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'MeerKat')
BEGIN
CREATE DATABASE [MeerKat]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MeerKat', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\MeerKat_v1.0.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MeerKat_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\MeerKat_v1.0_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
END

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MeerKat].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
