.meerkat-report-menuItem-option {
}

.meerkat-report-menuItem {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}

.meerkat-report-menuItem-label {
    padding-right: 10px;
}

.meerkat-report-menuItem-select {
}

.meerkat-report-menu {
    list-style-type: none;
}

.meerkat-report-table {
    font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
    border-collapse: collapse;
}

.meerkat-report-table-header-row {
}

.meerkat-report-table-header-column {
    background-color: grey;
    color: white;
    font-size: medium;
    border: 1px solid #7292cc;
}

.meerkat-report-placement-error {
}

.meerkat-report-placement {
}

.meerkat-report-table-row {
    font-size: small;
}

.meerkat-report-table-column {
    padding: 6px;
    border: 1px solid #c6daf8;
}

.meerkat-report-table-column-outcome {
    background-color: silver;
    color: #465678;
}

.meerkat-report-table-column-output {
    background-color: lightgray;
    color: #4c68a2;
}

.meerkat-report-table-column-suboutput {
    background-color: white;
    color: #4c68a2;
}

.meerkat-report-table-column-status {
    background-color: white;
}

.meerkat-report-negative-value {
    color: red;
}

.meerkat-report-neutral-value {
    color: yellow;
}

.meerkat-report-positive-value {
    color: green;
}

.meerkat-report-table-data-row {
}

.meerkat-report-table-year-row {
    background-color: grey;
    color: white;
}

.meerkat-report-table-reportingPeriod-row {
        background-color: grey;
    color: white;
}

.meerkat-report-table-col-reportingPeriod {
}

.meerkat-report-table-column-reportingPeriod {
}

.meerkat-report-table-column-status-empty{

}