<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="12.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <UseLightSwitchWebDeploymentProvider>False</UseLightSwitchWebDeploymentProvider>
    <AuthenticationType>None</AuthenticationType>
    <RequiresIntrinsicDataSource>false</RequiresIntrinsicDataSource>
    <DeployDatabase>True</DeployDatabase>
    <LightSwitchPublishVersion>v2.4</LightSwitchPublishVersion>
    <PackageLocation>C:/GitHub/Meerkat/Deploy/Meerkat_EventRegister//Aphelion.Meerkat.EventRegister.zip</PackageLocation>
    <CleanWPPAllFilesInSingleFolder>False</CleanWPPAllFilesInSingleFolder>
    <ExcludeGeneratedDebugSymbol>true</ExcludeGeneratedDebugSymbol>
    <DisableAllVSGeneratedMSDeployParameter>True</DisableAllVSGeneratedMSDeployParameter>
    <AutoParameterizationWebConfigConnectionStrings>True</AutoParameterizationWebConfigConnectionStrings>
    <WPPAllFilesInSingleFolder>../bin/Debug/app.publish/</WPPAllFilesInSingleFolder>
    <PackageSourceManifest>../bin/Debug/Aphelion.Meerkat.EventRegister.xml</PackageSourceManifest>
    <ProjectParametersXMLFile>..//Aphelion.Meerkat.EventRegister.Server/generated.parameters.xml</ProjectParametersXMLFile>
    <LightSwitchSqlScriptFile>../bin/Debug/Aphelion.Meerkat.EventRegister.sql</LightSwitchSqlScriptFile>
  </PropertyGroup>
  <Target Name="BeforeBuild">
    <MSBuild Projects="../Aphelion.Meerkat.EventRegister.lsxtproj" Targets="BeforeLightSwitchPublishApplication" />
  </Target>
</Project>