<etl>
        <pipeline Name="OutcomeHome">
		<extractor adapter="Syndication.Extractor">
			<config>
				<FeedUri><![CDATA[https://news.google.com/news/feeds?hl=en&gl=za&as_epq&as_oq&as_eq&as_scoring=r&as_drrb=q&as_qdr=a&as_nsrc&as_nloc=Kenya&as_author&as_occt=any&q=Millennium+development+goals+location:kenya&um=1&ie=UTF-8&output=rss]]></FeedUri>
			</config>
		</extractor>
		<transformer adapter="UniqueRows.TransformAdapter">
			<config>
				<UniqueColumnName>UniqueId</UniqueColumnName>
				<Filename>C:\NewsAgg\syndicationRun0.sqlite</Filename>
			</config>
		</transformer>
		<transformer adapter="RemapColumns.TransformColumns">
			<config>
				<Map IsMap="True">Title=Title|Author=Author|Date=Date|Content=Content|Source=Source|Id=ItemId|UniqueId=UniqueId</Map>
			</config>
		</transformer>
		<loader adapter="SharePoint.Loader">
			<config>
				<Name>ExternalNews</Name>
				<Url>http://meerkat01/_vti_bin/lists.asmx</Url>
				<UseDefaultCredentials>True</UseDefaultCredentials>
				<Username>USERNAME</Username>
				<Password>PASSWORD</Password>
				<Domain>DOMAIN</Domain>
				<ApplyGoogleImgSrcHackTo>Content</ApplyGoogleImgSrcHackTo>
			</config>
		</loader>
	</pipeline>

        <pipeline Name="Outcome1">
		<extractor adapter="Syndication.Extractor">
			<config>
				<FeedUri><![CDATA[https://news.google.com/news/feeds?hl=en&gl=za&as_epq&as_oq&as_eq&as_scoring=r&as_drrb=q&as_qdr=a&as_nsrc&as_nloc=Kenya&as_author&as_occt=any&q=hunger+poverty+location:kenya&um=1&ie=UTF-8&output=rss]]></FeedUri>
			</config>
		</extractor>
		<transformer adapter="UniqueRows.TransformAdapter">
			<config>
				<UniqueColumnName>UniqueId</UniqueColumnName>
				<Filename>C:\NewsAgg\syndicationRun1.sqlite</Filename>
			</config>
		</transformer>
		<transformer adapter="RemapColumns.TransformColumns">
			<config>
				<Map IsMap="True">Title=Title|Author=Author|Date=Date|Content=Content|Source=Source|Id=ItemId|UniqueId=UniqueId</Map>
			</config>
		</transformer>
		<loader adapter="SharePoint.Loader">
			<config>
				<Name>Outcome News</Name>
				<Url>http://meerkat01/Outcome1/_vti_bin/lists.asmx</Url>
				<UseDefaultCredentials>True</UseDefaultCredentials>
				<Username>USERNAME</Username>
				<Password>PASSWORD</Password>
				<Domain>DOMAIN</Domain>
				<ApplyGoogleImgSrcHackTo>Content</ApplyGoogleImgSrcHackTo>
			</config>
		</loader>
	</pipeline>

        <pipeline Name="Outcome2">
		<extractor adapter="Syndication.Extractor">
			<config>
				<FeedUri><![CDATA[https://news.google.com/news/feeds?hl=en&gl=za&as_epq&as_oq&as_eq&as_scoring=r&as_drrb=q&as_qdr=a&as_nsrc&as_nloc=Kenya&as_author&as_occt=any&q=education+location:kenya&um=1&ie=UTF-8&output=rss]]></FeedUri>
			</config>
		</extractor>
		<transformer adapter="UniqueRows.TransformAdapter">
			<config>
				<UniqueColumnName>UniqueId</UniqueColumnName>
				<Filename>C:\NewsAgg\syndicationRun2.sqlite</Filename>
			</config>
		</transformer>
		<transformer adapter="RemapColumns.TransformColumns">
			<config>
				<Map IsMap="True">Title=Title|Author=Author|Date=Date|Content=Content|Source=Source|Id=ItemId|UniqueId=UniqueId</Map>
			</config>
		</transformer>
		<loader adapter="SharePoint.Loader">
			<config>
				<Name>Outcome News</Name>
				<Url>http://meerkat01/Outcome2/_vti_bin/lists.asmx</Url>
				<UseDefaultCredentials>True</UseDefaultCredentials>
				<Username>USERNAME</Username>
				<Password>PASSWORD</Password>
				<Domain>DOMAIN</Domain>
				<ApplyGoogleImgSrcHackTo>Content</ApplyGoogleImgSrcHackTo>
			</config>
		</loader>
	</pipeline>

        <pipeline Name="Outcome3">
		<extractor adapter="Syndication.Extractor">
			<config>
				<FeedUri><![CDATA[https://news.google.com/news/feeds?hl=en&gl=za&as_epq&as_oq&as_eq&as_scoring=r&as_drrb=q&as_qdr=a&as_nsrc&as_nloc=Kenya&as_author&as_occt=any&q=gender+equality+empower+women+location:kenya&um=1&ie=UTF-8&output=rss]]></FeedUri>
			</config>
		</extractor>
		<transformer adapter="UniqueRows.TransformAdapter">
			<config>
				<UniqueColumnName>UniqueId</UniqueColumnName>
				<Filename>C:\NewsAgg\syndicationRun3.sqlite</Filename>
			</config>
		</transformer>
		<transformer adapter="RemapColumns.TransformColumns">
			<config>
				<Map IsMap="True">Title=Title|Author=Author|Date=Date|Content=Content|Source=Source|Id=ItemId|UniqueId=UniqueId</Map>
			</config>
		</transformer>
		<loader adapter="SharePoint.Loader">
			<config>
				<Name>Outcome News</Name>
				<Url>http://meerkat01/Outcome3/_vti_bin/lists.asmx</Url>
				<UseDefaultCredentials>True</UseDefaultCredentials>
				<Username>USERNAME</Username>
				<Password>PASSWORD</Password>
				<Domain>DOMAIN</Domain>
				<ApplyGoogleImgSrcHackTo>Content</ApplyGoogleImgSrcHackTo>
			</config>
		</loader>
	</pipeline>

       <pipeline Name="Outcome4">
		<extractor adapter="Syndication.Extractor">
			<config>
				<FeedUri><![CDATA[https://news.google.com/news/feeds?hl=en&gl=za&as_epq&as_oq&as_eq&as_scoring=r&as_drrb=q&as_qdr=a&as_nsrc&as_nloc=Kenya&as_author&as_occt=any&q=Reduce+Child+Mortality+location:kenya&um=1&ie=UTF-8&output=rss]]></FeedUri>
			</config>
		</extractor>
		<transformer adapter="UniqueRows.TransformAdapter">
			<config>
				<UniqueColumnName>UniqueId</UniqueColumnName>
				<Filename>C:\NewsAgg\syndicationRun4.sqlite</Filename>
			</config>
		</transformer>
		<transformer adapter="RemapColumns.TransformColumns">
			<config>
				<Map IsMap="True">Title=Title|Author=Author|Date=Date|Content=Content|Source=Source|Id=ItemId|UniqueId=UniqueId</Map>
			</config>
		</transformer>
		<loader adapter="SharePoint.Loader">
			<config>
				<Name>Outcome News</Name>
				<Url>http://meerkat01/Outcome4/_vti_bin/lists.asmx</Url>
				<UseDefaultCredentials>True</UseDefaultCredentials>
				<Username>USERNAME</Username>
				<Password>PASSWORD</Password>
				<Domain>DOMAIN</Domain>
				<ApplyGoogleImgSrcHackTo>Content</ApplyGoogleImgSrcHackTo>
			</config>
		</loader>
	</pipeline>

    <pipeline Name="Outcome5">
		<extractor adapter="Syndication.Extractor">
			<config>
				<FeedUri><![CDATA[https://news.google.com/news/feeds?hl=en&gl=za&as_epq&as_oq&as_eq&as_scoring=r&as_drrb=q&as_qdr=a&as_nsrc&as_nloc=Kenya&as_author&as_occt=any&q=Improve+maternal+health+location:kenya&um=1&ie=UTF-8&output=rss]]></FeedUri>
			</config>
		</extractor>
		<transformer adapter="UniqueRows.TransformAdapter">
			<config>
				<UniqueColumnName>UniqueId</UniqueColumnName>
				<Filename>C:\NewsAgg\syndicationRun5.sqlite</Filename>
			</config>
		</transformer>
		<transformer adapter="RemapColumns.TransformColumns">
			<config>
				<Map IsMap="True">Title=Title|Author=Author|Date=Date|Content=Content|Source=Source|Id=ItemId|UniqueId=UniqueId</Map>
			</config>
		</transformer>
		<loader adapter="SharePoint.Loader">
			<config>
				<Name>Outcome News</Name>
				<Url>http://meerkat01/Outcome5/_vti_bin/lists.asmx</Url>
				<UseDefaultCredentials>True</UseDefaultCredentials>
				<Username>USERNAME</Username>
				<Password>PASSWORD</Password>
				<Domain>DOMAIN</Domain>
				<ApplyGoogleImgSrcHackTo>Content</ApplyGoogleImgSrcHackTo>
			</config>
		</loader>
	</pipeline>

    <pipeline Name="Outcome6">
		<extractor adapter="Syndication.Extractor">
			<config>
				<FeedUri><![CDATA[https://news.google.com/news/feeds?hl=en&gl=za&as_epq&as_oq&as_eq&as_scoring=r&as_drrb=q&as_qdr=a&as_nsrc&as_nloc=Kenya&as_author&as_occt=any&q=Combat+HIV/AIDS+malaria+location:kenya&um=1&ie=UTF-8&output=rss]]></FeedUri>
			</config>
		</extractor>
		<transformer adapter="UniqueRows.TransformAdapter">
			<config>
				<UniqueColumnName>UniqueId</UniqueColumnName>
				<Filename>C:\NewsAgg\syndicationRun6.sqlite</Filename>
			</config>
		</transformer>
		<transformer adapter="RemapColumns.TransformColumns">
			<config>
				<Map IsMap="True">Title=Title|Author=Author|Date=Date|Content=Content|Source=Source|Id=ItemId|UniqueId=UniqueId</Map>
			</config>
		</transformer>
		<loader adapter="SharePoint.Loader">
			<config>
				<Name>Outcome News</Name>
				<Url>http://meerkat01/Outcome6/_vti_bin/lists.asmx</Url>
				<UseDefaultCredentials>True</UseDefaultCredentials>
				<Username>USERNAME</Username>
				<Password>PASSWORD</Password>
				<Domain>DOMAIN</Domain>
				<ApplyGoogleImgSrcHackTo>Content</ApplyGoogleImgSrcHackTo>
			</config>
		</loader>
	</pipeline>

    <pipeline Name="Outcome7">
		<extractor adapter="Syndication.Extractor">
			<config>
				<FeedUri><![CDATA[https://news.google.com/news/feeds?hl=en&gl=za&as_epq&as_oq&as_eq&as_scoring=r&as_drrb=q&as_qdr=a&as_nsrc&as_nloc=Kenya&as_author&as_occt=any&q=Environmental+Sustainability+location:kenya&um=1&ie=UTF-8&output=rss]]></FeedUri>
			</config>
		</extractor>
		<transformer adapter="UniqueRows.TransformAdapter">
			<config>
				<UniqueColumnName>UniqueId</UniqueColumnName>
				<Filename>C:\NewsAgg\syndicationRun7.sqlite</Filename>
			</config>
		</transformer>
		<transformer adapter="RemapColumns.TransformColumns">
			<config>
				<Map IsMap="True">Title=Title|Author=Author|Date=Date|Content=Content|Source=Source|Id=ItemId|UniqueId=UniqueId</Map>
			</config>
		</transformer>
		<loader adapter="SharePoint.Loader">
			<config>
				<Name>Outcome News</Name>
				<Url>http://meerkat01/Outcome7/_vti_bin/lists.asmx</Url>
				<UseDefaultCredentials>True</UseDefaultCredentials>
				<Username>USERNAME</Username>
				<Password>PASSWORD</Password>
				<Domain>DOMAIN</Domain>
				<ApplyGoogleImgSrcHackTo>Content</ApplyGoogleImgSrcHackTo>
			</config>
		</loader>
	</pipeline>

    <pipeline Name="Outcome8">
		<extractor adapter="Syndication.Extractor">
			<config>
				<FeedUri><![CDATA[https://news.google.com/news/feeds?hl=en&gl=za&as_epq&as_oq&as_eq&as_scoring=r&as_drrb=q&as_qdr=a&as_nsrc&as_nloc=Kenya&as_author&as_occt=any&q=Develop+global+partnership+development+location:kenya&um=1&ie=UTF-8&output=rss]]></FeedUri>
			</config>
		</extractor>
		<transformer adapter="UniqueRows.TransformAdapter">
			<config>
				<UniqueColumnName>UniqueId</UniqueColumnName>
				<Filename>C:\NewsAgg\syndicationRun8.sqlite</Filename>
			</config>
		</transformer>
		<transformer adapter="RemapColumns.TransformColumns">
			<config>
				<Map IsMap="True">Title=Title|Author=Author|Date=Date|Content=Content|Source=Source|Id=ItemId|UniqueId=UniqueId</Map>
			</config>
		</transformer>
		<loader adapter="SharePoint.Loader">
			<config>
				<Name>Outcome News</Name>
				<Url>http://meerkat01/Outcome8/_vti_bin/lists.asmx</Url>
				<UseDefaultCredentials>True</UseDefaultCredentials>
				<Username>USERNAME</Username>
				<Password>PASSWORD</Password>
				<Domain>DOMAIN</Domain>
				<ApplyGoogleImgSrcHackTo>Content</ApplyGoogleImgSrcHackTo>
			</config>
		</loader>
	</pipeline>

</etl>