/* WORK SPCAES CONTENT SPACES */

#s4-workspace
{
	width:100% !important;
}



#suiteBarRight, #globalNavBox, .ms-clientcontrol-chromeheader {
    background-color: #eee;
}

.ms-cui-topBar2 {
	border-bottom: none !important;
}

#s4-bodyContainer {
	display: table;
	width: auto !important;
	width: 100% !important;
}

#suiteBarRight, #globalNavBox, .ms-clientcontrol-chromeheader, #suiteBarLeft {
	background: #eee;
}

#top-bar {
	display: block;
	background: transparent url('header-bg.png') repeat-x;
	height: 120px;
	width: 1610px;
}

.outcome1 #titleAreaBox, .outcome1 .sf-menu ul {
	background: #84645b;
}
.outcome2 #titleAreaBox, .outcome2 .sf-menu ul {
	background: #7b9fb0;
}
.outcome3 #titleAreaBox, .outcome3 .sf-menu ul {
	background: #a6829b;
}
.outcome4 #titleAreaBox, .outcome4 .sf-menu ul {
	background: #e09d5c;
}
.outcome5 #titleAreaBox, .outcome5 .sf-menu ul {
	background: #cf819f;
}
.outcome6 #titleAreaBox, .outcome6 .sf-menu ul {
	background: #c56559;
}
.outcome7 #titleAreaBox, .outcome7 .sf-menu ul {
	background: #6aa085;
}
.outcome8 #titleAreaBox, .outcome8 .sf-menu ul {
	background: #a69f99;
}

.logo {
	height: 120px;
	width: 106px;
	float: left;
	background: transparent url('logo-hover.png') no-repeat;
	text-indent: -9999px;
}

.logo:hover {
	background: transparent url('logo-hover.png') no-repeat;
}


.shadow {
	-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.spm-navigation {
    left: 0;
    position: absolute;
    top: 103px;
    width: 180px;
    background: #f8f8f8;
    padding: 10px 20px 20px 20px;
    z-index: 99999;
    display: none;
}

.spm-navigation ul {
	margin: 0;
	padding: 0;	
	list-style: none;
}

.spm-navigation ul a {
	padding: 5px 5px 5px 34px !important;
	color: #444 !important;
	font-size: 14px !important;
	height: 24px;
	line-height: 24px;
	display: inline-block;
}

.spm-navigation a:hover {
	background-color: transparent !important;
	text-decoration: none;
	cursor: pointer;
}

.spm-navigation .outcome1 {
	background: url('icon-hunger.png') transparent no-repeat 0 6px !important;
}
.spm-navigation .outcome2 {
	background: url('icon-education.png') transparent no-repeat 0 6px;
}
.spm-navigation .outcome3 {
	background: url('icon-gender.png') transparent no-repeat 0 6px;
}
.spm-navigation .outcome4 {
	background: url('icon-child.png') transparent no-repeat 0 6px;
}
.spm-navigation .outcome5 {
	background: url('icon-maternity.png') transparent no-repeat 0 6px;
}
.spm-navigation .outcome6 {
	background: url('icon-health.png') transparent no-repeat 0 6px;
}
.spm-navigation .outcome7 {
	background: url('icon-sustainability.png') transparent no-repeat 0 6px;
}
.spm-navigation .outcome8 {
	background: url('icon-partnership.png') transparent no-repeat 0 6px;
}

.ms-core-listMenu-verticalBox .ms-listMenu-editLink {
	display: none;
}

#titleAreaBox {
    margin: 0 20px;
    width: 90%;
}

#titleAreaBox #icon-nav {
	margin: 25px 0 0 30px;
}

#titleAreaBox #icon-nav li {
	display: inline-block;
	display: table-cell;
	padding: 0 10px;
	text-align: center;
	width: 90px;
}

#titleAreaBox #icon-nav li span {
    color: #666666;
    display: block;
    font-size: 12px;
    height: 60px;
    line-height: 1.3;
    margin-top: 5px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

#titleAreaBox #icon-nav li a:hover {
	text-decoration: none;
}

#titleAreaBox #icon-nav li a:hover span {
	color: #111;
}


h1#pageTitle {
    display: table-cell;
    float: left;
}

.ms-core-pageTitle {
	text-transform: uppercase;
	font-size: 26px;
	color: #fff;
	opacity: 0.8;
	padding: 5px 10px 5px 10px;
}

#siteIcon {
	line-height: normal;
	width: 24px;
	min-width: 24px;
	height: 24px;
	margin: 0;
}

.ms-siteicon-img {
    display: block;
    height: 26px;
    position: relative;
    top: 13px;
}

#DeltaPlaceHolderSearchArea {
    xfloat: right;
    xposition: relative;
    xright: 10px;
    xtop: 15px;
}

#searchInputBox {
    margin-bottom: 0;
}

#DeltaPlaceHolderSearchArea .ms-srch-sb-border, 
#DeltaPlaceHolderSearchArea .ms-srch-sb-border:hover, 
#DeltaPlaceHolderSearchArea .ms-srch-sb-borderFocused {
	border-color: #fff;
	background: #fff;
}

#header .mega-menu {
	height: 50px;
}

#contentRow {
	display: table;
}

#sideNavBox {
	display: table-cell;
	float: none;	
	vertical-align: top;
}

#contentBox {
	display: table-cell;
	padding-left: 30px;
}



/******************************************/
/*** MEGA DROPDOWN ************************/
/******************************************/

#titleAreaRow {
	display: block;
}

#megadropdown-wrapper {
	width: 100%;
	clear: both;
}

#megadropdown {
    height: 65px;
    width: 1500px;
    margin: 9px 0 0 0;
    display: table;
}

.sf-menu ul {
    width: 300px !important; /* left offset of submenus need to match (see below) */
    border: 0;
}

.sf-menu ul li {
    width: 100%
}

.sf-menu li:hover {
    visibility: inherit; /* fixes IE7 'sticky bug' */
}

.sf-menu li {
    height: 65px;
    width: 220px;
    cursor: pointer;
    border-right: 1px solid rgba(0,0,0,0.3);
}

.sf-menu li:hover {
	background: rgba(0,0,0,0.1) !important;
}

.sf-menu li li {
	height: auto;
	background: rgba(0,0,0,0.1) !important;
}

.sf-menu li li:hover {
	height: auto;
	background: rgba(0,0,0,0.2) !important;
}

.sf-menu li li li {
	height: auto;
	background: rgba(0,0,0,0.2) !important;
}


.sf-menu a {
    color: #222222 !important;
    font-family: Segoe UI;
    font-size: 12px;
    line-height: 1.3;
}

.sf-menu a:hover {
    text-decoration: none;	
}

.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
    top: 65px !important; /* match top ul list item height */
    z-index: 99;
}

.sf-menu li li:hover ul,
.sf-menu li li.sfHover ul {
    top: 0 !important; /* match top ul list item height */
    left: 300px !important;
    z-index: 99;
}